<div class="container"><h1>Wow look at these Restaurants</h1></div>

<div class="alert alert-dark" role="alert"> <%= link_to 'Click here to make a new Restaurant', new_restaurant_path, class: "alert-link" %> </div>

<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <div class="container">
      <%= link_to restaurant_path(restaurant['id']) do %>
        <li class="list-group-item active d-flex justify-content-between"><strong><%=restaurant.name %></strong>
        <span class="btn btn-dark ">Inspect</span></li>
      <% end %>
        <li class="list-group-item"><em>Address: <%=restaurant.address %></em></li>
        <li class="list-group-item"><em>Tel: <%=restaurant.phone_number %></em></li>
        <li class="list-group-item"><em><%=restaurant.category %></em></li>
        <br>
    </div>
  <% end %>
</ul>
