<div class="container"><h1>Wow, look at these reviews for <%= @restaurant.name %></h1></div>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <div class="container">
      <%= link_to edit_review_path(review.id) do %>
        <li class="list-group-item active d-flex justify-content-between"><strong><%=@restaurant.name %></strong>
        <span class="btn btn-dark ">Edit</span></li>
      <% end %>
        <li class="list-group-item"><em>Rating: <%=review.rating %> stars</em></li>
        <li class="list-group-item"><em>Description: <%=review.content %></em></li>
        <li class="list-group-item btn btn-outline-dark"><%= link_to 'Delete this review', review_path(review.id), method: :delete, data: { confirm: "Are you sure?" }%></li>
        <br>
    </div>
  <% end %>
</ul>

<div class="container d-flex justify-content-between mt-4">
  <div class="btn btn-outline-dark"><%= link_to 'Back to restaurant screen', restaurant_path(@restaurant.id) %></div>
</div>
